/* 
min size */
  h1 {
    font-size: calc( var(--h1-font-size-min) * 1em );
  }

/* bettween  */
 h1 {
    font-size: calc( var(--h1-font-size-max) * 1em );
  }

/* max size  */

/* 2. GENERAL STYLES */
h1 {
  font-size: calc(( var(--h1-font-size-min ) * 1em ) + ( var(--h1-font-size-max) - var(--h1-font-size-min) ) * (( 100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
}